@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
    font-family: "Roboto", sans-serif;
}

.active{
    color: #155dfc;
    /* border-top: 2px solid #155dfc;
    border-bottom: 2px solid #155dfc; */
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 4px 6px;
    background: #51a2ff;
    color: white;
}