@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
    font-family: "Roboto", sans-serif;
}

.active{
    color: #155dfc;
    border-top: 2px solid #155dfc;
    border-radius: 10px;
    padding-top: 3px;
}